*.iml
.gradle
.idea
/local.properties
/.idea/misc.xml
/.idea/workspace.xml
/.idea/libraries
.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
build
gradle
test
settings.gradle.idea/misc.xml
/.idea
.idea/misc.xml
